body{
    background-color:rgb(78, 76, 76)
}
#dilcontainer{
    width: 50%;
    height: 600px;
    background-color: white;
    margin: auto;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
}

h2{
    padding-top: 50px;
}
img{
    height: 150px;
}
p{
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}
input{
    width: 60%;
    height: 35px;
    font-size: 18px;
    border-radius: 3px;
}
h4{
    color: red;
    font-size: 14px;
}

button{
    background-color: white;
    color: green;
    border: 1px solid green;
    border-radius: 3px;
    width: auto;
    height: 40px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: green;
    color: white;
}