body{
    background-color:rgb(78, 76, 76)
}
#signcontainer{
    width: 50%;
    height: auto;
    background-color: rgb(197, 193, 193);
    margin: auto;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
}

.si1{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
}
.si1 > h3{
    padding-top: 15px;
    cursor: pointer;
}
.si1 > h3:hover{
    color: red;
}

.si2{
    margin-top: 50px;
    margin-bottom: 50px;
}
.si2 , .si3 > p{
    font-size: 20px;
    margin-bottom: 2px;
}
.si2 > p{
    font-size: 20px;
    margin-bottom: 2px;
}


input{
    width: 400px;
    height: 35px;
    font-size: 22px;
    margin-bottom: 2px;
}

button{
    background-color: white;
    color: green;
    border: 1px solid green;
    border-radius: 3px;
    width: auto;
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}
button:hover{
    background-color: green;
    color: white;
}

.si6{
    display: flex;
    margin-top: 50px;
}

.si5{
    display: flex;
    width: 50%;
    justify-content: space-around;
    background-color: #2d5073;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
}
.si5:hover{
    background-color: #3b5998;
}
.si5a{
    display: flex;
    width: 50%;
    justify-content: space-around;
    background-color: #c23321;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
}
.si5a:hover{
    background-color: #dd4b39;
}
img{
    width: 40px;
    height: 40px;
    padding-top: 10px;
    background-color: white;
}

